<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<div>
		<div sec:authorize="isAuthenticated()">
			<span sec:authentication="name">${session.CURRENT_USER.nickname}</span>
			|
			<div sec:authorize="hasAnyRole('ADMIN','MANAGER')">
				<a th:href="@{admin/adminIndex}"> Backend</a>
      		</div>
			<a th:href="@{logout}"> Logout</a>
		</div>
	
		<div th:if="${session.CURRENT_USER==null}">
			<a th:href="@{login}"> Login</a>
		</div>
	</div>
</body>
</html>