<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Login</title>
	</head>
	<body>
		<form method="post" action="login">
			<label for="username">Username : </label> <input type="text" name="username" id="username" value="beamofsoul" /> <br />
			<label for="password">Password : </label> <input type="password" name="password" id="password" value="Justin1987." /> <br /> 
			<input id="remember-me" name="remember-me" type="checkbox" value="true" />Remember-Me<br /> <br />
			<div>
				<input type="submit" name="" value="Login" />
			</div>
			</br>
			<div th:with="message=${session.SPRING_SECURITY_LAST_EXCEPTION != null} ? ${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
				<span th:text="${message != null} ? ${message} : (${expired != null} ? ${expired})" />
			</div>
		</form>
	</body>
</html>
